@model EmpAndDep_Relations_CRUD.Models.Employee

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Department List</h4>
<div>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Employee_Id)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Employee_Id)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Employee_Name)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Employee_Name)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Employee_Addr)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Employee_Addr)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Employee_DOB)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Employee_DOB)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Employee_Age)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Employee_Age)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Employee_Salary)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Employee_Salary)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Department_Id)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Department_Id)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Department.Department_Name)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Department.Department_Name)</dd>
    </dl>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Employee_Id" />
    <input type="submit" asp-for="Employee_Id" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>