@model IEnumerable<DemoOneToMany.Models.Department>

<p>
    <a asp-action="Add"></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DepId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DepId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DepId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
